*{color: white;}

/*background gradient animation*/
body{
    height: 100vh;
    width: 100%;
    background:linear-gradient(45deg,rgb(76, 76, 218),rgb(12, 86, 12));
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}
/*keyframe used to change colour from time to time*/
@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    0%{
        background-position: 0 50%;
    }
}


.footer{color: white;}
h1{
    text-align: center;
}

.quiz-container{
    display: flex;
    justify-content: center;
    margin: 20px;
    align-items: center;
    margin-top: 100px;
  }

.choice-container{
    display: flex;
    width: 100;
    font-size: 50px;
    border: 0.1rem solid rgb(5, 5, 103);
    background-color: rgb(28, 125, 93);
    margin: 8px;
}
.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 greenyellow;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}
.choice-prefix{
    padding: 10px 20px;
    font-size: 22px;
    background-color: rgb(129, 153, 23);
}
.choice-text{
    padding: 10px;
    font-size: 22px;
}
.correct{background-color: rgb(29, 147, 29);}

.incorrect{
    background-color: rgb(166, 21, 21);
}

#hud{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.hud-prefix{
    text-align: center;
    font-size: 30px;
    
}
.hud-main-text{
    text-align: center;
    font-size: 30px;
}
.background{
    
        z-index: -1;
        width: 50%;
        height: 100%;
        left: 0;
        right: 0;
        position: relative;
        margin-left: auto;
        margin-right: auto;

 
}
@media (min-width: 1025px) and (max-width: 1280px) {
    .lottie-bg {
        width: 65%;
    }
}