*{color: white;}

/*background gradient animation*/
body{
    height: 100vh;
    width: 100%;
    background:linear-gradient(45deg,rgb(76, 76, 218),rgb(12, 86, 12), rgb(11, 81, 102));
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}
/*keyframe used to change colour from time to time*/
@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    0%{
        background-position: 0 50%;
    }
}


.footer{color: white;}
h1{
    text-align: center;
}
/*styling of the entire quiz container*/
.quiz-container{
    display: flex;
    justify-content: center;
    margin: 20px;
    align-items: center;
    margin-top: 100px;
  }
/*styling of choice container*/
.choice-container{
    display: flex;
    width: 100%;
    font-size: 50px;
    border: 0.1rem solid rgb(5, 5, 103);
    background-color: rgb(28, 125, 93);
    margin: 8px;
}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 greenyellow;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}
.choice-prefix{
    padding: 10px 20px;
    font-size: 22px;
    background-color: rgb(129, 153, 23);
}
.choice-text{
    padding: 10px;
    font-size: 22px;
}
/*styling of background colour if answered corretly (implemented in javascript)*/
.correct{background-color: rgb(1, 255, 56);}

/*styling of background colour of choice if answered incorrectly (implemented in javascript)*/
.incorrect{
    background-color: rgb(166, 21, 21);
}
/* styling for heads-up display*/
#hud{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.hud-prefix{
    text-align: center;
    font-size: 30px;
    
}
.hud-main-text{
    text-align: center;
    font-size: 30px;
}
.background{
    
        z-index: -1;
        width: 50%;
        height: 100%;
        left: 0;
        right: 0;
        position: relative;
        margin-left: auto;
        margin-right: auto;

 
}
@media (min-width: 1025px) and (max-width: 1280px) {
    .lottie-bg {
        width: 65%;
    }
}


.round-time-bar {
    margin: 1rem;
    overflow: hidden;
    flex-direction: column-reverse;
  }

  .round-time-bar div {
    height: 5px;
    animation: roundtime calc(var(--duration) * 1s) steps(var(--duration))
      forwards;
    transform-origin: left center;
    background: linear-gradient(to bottom, red, #900);
   
  }

  @keyframes roundtime {
    to {
      /* More performant than animating `width` */
      transform: scaleX(0);
    }
  }

  .round-time-bar[data-style="smooth"] div {
    animation: roundtime calc(var(--duration) * 1s) linear forwards;
  }


  .round-time-bar[data-color="blue"] div {
    background: linear-gradient(to bottom, #64b5f6, #1565c0);
  }

  .round-time-bar[data-style="fixed"] div {
    width: calc(var(--duration) * 5%);
  }
  .overlay {
    pointer-events: none;
}
/* loader to generate the questions */
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 200px;
  height: 200px;
  margin: -110px 0 0 -110px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#text{
  display: flex;
  justify-content: center;
  padding: 22px;
  max-width: 100%;
}
/*Make the content responsive*/
@media(max-width:600px){
  .choice-container{
    flex-direction: column;
  }
  .quiz-container{
    flex-direction: column;
  }
  footer{
    margin-top: 75px;
  }
}