@import url("https://fonts.googleapis.com/css2?family=Kanit&family=PT+Sans&display=swap");

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    font-family: 'Kanit', sans-serif;
   
}
body{
   background-color: rgb(79, 79, 233);
  
    }

h1{
    padding: 20px;
    color: white;
}
/*Paragraphs*/
p{
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.animation{
   display: flex;
   justify-content: center;
}
.menu{
text-align: center;
padding: 70px;
font-size: 20px;
display: flex;
justify-content: center;
}
.menu a{color: black;
    margin: 40px;
    text-decoration: none;
    border: 20px;
    display: inline;

}
/* Leaderboard button */
.menu .link1{
    background-color: yellowgreen;
    padding: 27px 68px;
    border-radius: 20px;
}
.menu .link1:hover{
    background-color: rgb(18, 184, 255);
}
/* Play button */
.menu .link2{
    background-color: rgb(255, 96, 96);
    padding: 27px 68px;
    border-radius: 20px;
}
.menu .link2:hover{
    background-color:rgb(18, 184, 255);
}
/*Settings button */
.menu .link3{
    background-color: yellowgreen;
    padding: 27px 68px;
    border-radius: 20px;
}
.menu .link3:hover{
    background-color:rgb(18, 184, 255) ;
}
footer{
    padding: 50px;
    color: black;
    background-color: rgb(17, 21, 129);
   display: flex;
   justify-content: center;
   

 
}
.button1
{
    background-color: rgb(248, 76, 76);
    display: inline-flex;
    justify-content: space-between;
    text-align: center;
    border: 20px;
    border-radius: 20px;
    font-size: 20px;
    margin: 20px;
}
.button1 a
{ 
    text-decoration: none;
    padding: 27px 68px;
    color: black;
    

}
.button1 a:hover{
    background-color: rgb(18, 184, 255);
    padding: 27px 68px;
    border-radius: 20px;
}
.button2
{
    background-color: rgb(248, 76, 76);
    display: inline-flex;
    text-align: center;
    justify-content: center;
    border: 20px;
    border-radius: 20px;
    margin: 20px;
    float: right;
    font-size: 20px;
    text-decoration: none;
    padding: 27px 68px;
    color: black;
    
}

.disabled{
    background-color: rgb(169, 169, 169);
    cursor: default;
}

.button2:hover
{
    background-color: rgb(18, 184, 255);
    padding: 27px 68px;
    border-radius: 20px;

}
.dropdown{
    min-width: 15em;
    position: relative;
    margin: 70px;
}
/*Dropdown button*/

.dropdown-options{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.dropdown *{
    box-sizing: border-box;
}
.select{
    background-color: rgb(46, 173, 118);
    font-size: 22px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border:2px solid;
    border-radius: 0.5em;
    padding: 20px;
    cursor: pointer;
    transition: background 0.3s;

}
/*clicked styles*/
.select-clicked{
    border: 2px solid;

}
.caret{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid black;
    transition: 0.3s;
}
.caret-rotate{
    transform: rotate(180deg);
}
.list{
   list-style:none ;
   padding: 20px 30px;
   background-color: rgb(91, 66, 20);
   border: 1px solid;
   border-radius: 5px;
   position: relative;
   width: 100%;
   opacity: 0;
   display: none;

}
.list li{
    padding: 10px 12px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
}
/*.list li:hover{

}*/

/*open-style*/
.list-open{
    display: block;
    opacity: 1;

}
.homebutton{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}
.login ,.signup {
    
    background-color: red;
    border: 2px black;
    padding: 20px;
    margin: 10px;
    color: white;
    border-radius: 5px;
}
.login a, .signup a{
    text-decoration: none;
    color: white;
    
}
.login:hover,.signup:hover{
    background-color: rgb(18, 184, 255);
}


.form-popup {
   
    text-align: center;
    justify-content: center;
    display: flex;
}
  
  /* Add styles to the form container */
  .form-container {
    padding: 50px;
    color: black;
  
  }
  
  /* Full-width input fields */
  .form-container input[type=email], .form-container input[type=password], .form-container input[type = name]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    text-align: center;
    border: none;
    border-radius: 15px;
    color: black;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    border-radius: 15px;
  }
  
  /* Add a red background color to the back button */
  .form-container .close {
    background-color:#d65151;
    border-radius: 15px;
    padding: 16px 20px;
    border: none;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    border-radius: 15px;
  
  }
  .form-container .close:hover{
    opacity: 1;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
  .form-container .btn a{
    text-decoration: none;
  }
  .form-container .close a{
    text-decoration: none;
  }


/*flex when reached a specific resolution */
@media (max-width:600px)
{
    .menu{
        flex-direction: column;
    }
    footer{
        flex-direction: row;
    }
    .button1{
        flex-direction: row;
    }
    .button2
    {
        flex-direction: row;
        margin: 24px;
        

    }
    .dropdown-options{
        flex-direction: column;
        margin: 50px;
    }
    .form-popup{
        flex-direction: column;
    }
    .quiz-container{
        flex-direction: column;
    }

}