*{box-sizing: border-box;
padding: 0;
margin: 0;
color: rgb(255, 255, 255);
}
body{
   background-color: rgb(79, 79, 233);
    }
h1{
    padding: 20px;
    color: white;
}
/*Paragraphs*/
p{
    text-align: center;
    padding: 10px;
    font-size: 20px;
}
/*bootstrap navbar */
.nav-link{color: white;}
.nav-link:hover{color: aqua;}

.animation{
   display: flex;
    justify-content: center;
}
.menu{
text-align: center;
padding: 70px;
font-size: 20px;
}
.menu a{color: black;
    margin: 40px;
    text-decoration: none;
    border: 20px;
    display: inline;

}
/* Leaderboard button */
.menu .link1{
    background-color: yellowgreen;
    padding: 27px 68px;
    border-radius: 20px;
}
.menu .link1:hover{
    background-color: rgb(18, 184, 255);
}
/* Play button */
.menu .link2{
    background-color: rgb(255, 96, 96);
    padding: 27px 68px;
    border-radius: 20px;
}
.menu .link2:hover{
    background-color:rgb(18, 184, 255);
}
/*Settings button */
.menu .link3{
    background-color: yellowgreen;
    padding: 27px 68px;
    border-radius: 20px;
}
.menu .link3:hover{
    background-color:rgb(18, 184, 255) ;
}
footer{
    padding: 50px;
    color: black;
    background-color: rgb(51, 51, 198);
}
.button1
{
    background-color: rgb(248, 76, 76);
    display: inline-flex;
    text-align: center;
    border: 20px;
    border-radius: 20px;
    margin: 20px;
    font-size: 20px;
}
.button1 a
{
    text-decoration: none;
    padding: 27px 68px;
    color: black;

}
.button1 a:hover{
    background-color: rgb(18, 184, 255);
    padding: 27px 68px;
    border-radius: 20px;
}
.button2
{
    background-color: rgb(248, 76, 76);
    display: inline-flex;
    text-align: center;
    border: 20px;
    border-radius: 20px;
    margin: 20px;
    font-size: 20px;
}
.button2 a
{
    text-decoration: none;
    padding: 27px 68px;
    color: black;

}
