@import url("https://fonts.googleapis.com/css2?family=Kanit&family=PT+Sans&display=swap");

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    font-family: 'Kanit', sans-serif;
   
}
body{
   background-color: rgb(79, 79, 233);
  
    }

h1{
    padding: 20px;
    color: white;
}
/*Paragraphs*/
p{
    text-align: center;
    padding: 10px;
    font-size: 20px;
}
/*Lottie animation*/
.animation{
   display: flex;
   justify-content: center;
}
/* styling of buttons at home page */
.menu{
text-align: center;
padding: 70px;
font-size: 20px;
display: flex;
justify-content: center;
}
.menu a{color: black;
    margin: 40px;
    text-decoration: none;
    border: 20px;
 

}
/* Leaderboard button using similar design as home page */
.menu .link1{
    background-color: yellowgreen;
    padding: 27px 41px;
    border-radius: 20px;
}
/* styling of leaderboard button when hovered*/
.menu .link1:hover{
    background-color: rgb(18, 184, 255);
}
/* styling of play button */
.menu .link2{
    background-color: rgb(255, 96, 96);
    padding: 27px 68px;
    border-radius: 20px;
}
/* styling of exit button */
.menu .link3{
    background-color: rgb(33, 203, 146);
    padding: 27px 68px;
    border-radius: 20px;
}
/* styling of play button when hovered*/
.menu .link2:hover{
    background-color:rgb(18, 184, 255);
}
/*styling of exit button when hovered*/
.menu .link3:hover{
    background-color:rgb(18, 184, 255) ;
}
/*styling of footer*/
footer{
    padding: 50px;
    color: black;
    background-color: rgb(10, 0, 83);
   display: flex;
   justify-content: center;
   

 
}
/* positioning of back button in game menu*/
.button1
{
    display: flex;
    justify-content:center;
    text-align: center;
    flex-direction: row;

}
/* styling of back button in game menu*/
.button1 .back-button
{ 
    text-decoration: none;
    padding: 27px 68px;
    color: black;
    background-color: rgb(248, 76, 76);
    text-align: center;
    border: 20px;
    border-radius: 20px;
    margin: 20px;
    font-size: 20px;
}
/* styling of back button when hovered in game menu */
.button1 a:hover{
    background-color: rgb(18, 184, 255);
    padding: 27px 68px;
    border-radius: 20px;
}
/* positioning of start button in game menu*/
.start-button{
    display: flex;
    justify-content: center;
    margin: 2px 3px 2px 2px;

}
/* styling of start button in game menu*/
.start-button .button2 {
    background-color: rgb(248, 76, 76);
    text-align: center;
    border: 20px;
    border-radius: 20px;
    margin: 20px;
    font-size: 20px;
    text-decoration: none;
    padding:27px 68px;
    color: black;
    
}
/* styling of disabled class (implemented in javascript)*/
.disabled{
    background-color: rgb(169, 169, 169) !important;
    cursor: default;
}
/* styling of start button when hovered in game menu*/
.button2:hover
{
    background-color: rgb(18, 184, 255);
    padding: 27px 68px;
    border-radius: 20px;

}
/* styling of text in game menu */
.text{
    display: flex;
    justify-content: center;
    padding: 8px;
    margin: 20px;
    max-width: 100%;
}
/*position of the entire dropdown list*/
.dropdown{
    min-width: 15em;
    position: relative;
    margin: 63px;

}
/*Dropdown button*/

.dropdown-options{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 20px;
}
.dropdown *{
    box-sizing: border-box;
}
/* styling and positioning of selection box*/
.select{
    background-color: rgb(46, 173, 118);
    font-size: 22px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border:2px solid;
    border-radius: 0.5em;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s;

}
/*clicked styles*/
.select-clicked{
    border: 2px solid;

}
/*styling of dropdown arrow*/
.caret{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid black;
    transition: 0.3s;
}
/*animation for dropdown arrow */
.caret-rotate{
    transform: rotate(180deg);
}
/*styling of dropdown list */
.list{
   list-style:none ;
   padding: 20px;
   background-color: rgb(91, 66, 20);
   border: 1px solid;
   border-radius: 5px;
   position: relative;
   width: 100%;
   opacity: 0;
   display: none;

}
.list li{
    padding: 10px 12px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
}


/*styling of list when its open*/
.list-open{
    display: block;
    opacity: 1;

}

/* responsive form */
.form-popup {
   
    text-align: center;
    justify-content: center;
    display: flex;
}
  
  /* Add styles to the form container */
  .form-container {
    padding: 50px;
    color: black;
  
  }
  
  /* Full-width input fields */
  .form-container input[type=email], .form-container input[type=password], .form-container input[type = text]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    text-align: center;
    border: none;
    border-radius: 15px;
    color: black;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    border-radius: 15px;
  }
  
  /* Add a red background color to the back button */
  .form-container .close {
    background-color:#d65151;
    border-radius: 15px;
    padding: 16px 20px;
    border: none;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    border-radius: 15px;
  
  }
  .form-container .close:hover{
    opacity: 1;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
  .form-container .btn a{
    text-decoration: none;
  }
  .form-container .close a{
    text-decoration: none;
  }

  /*styling for the 3 hearts representing 3 lives */
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center

  }
/* styling hearts image */
img{
    display: flex;
    /*flex: 33.33%;*/
    padding: 5px;
    margin-left: 85px;
    margin-right: 85px;
    margin-top: 25px;
    height: 100px;
    width: auto;

    

}

/* styling of animation of broken heart*/
.broken-heart{
    display: flex;
    flex: 33.33%;
    padding: 5px;
    margin-left: 85px;
    margin-right: 85px;
    margin-top: 25px;
    height: 110px !important;
    width: auto !important;
}

.current-heart {
    animation: scale 2000ms linear infinite;
}

@keyframes scale {
    0%{-webkit-transform :scale(1);}
    50% {-webkit-transform:scale(1.5);}
    100%{-webkit-transform:scale(1);}
  }

/*flex when reached a specific resolution */
@media (max-width:600px)
{
    h1{
        margin-right: 20px;

    }
    .menu{
        flex-direction: column;
        
    }
    footer{
        flex-direction: row;
        margin-right: 28px;
    }
    .button1{
        flex-direction: row;
        justify-content: center;
        margin-right: 32px;

    }
    .start-button,.button2
    {   
        justify-content: center;
        margin-right: 28px;
    }
    .dropdown-options{
        flex-direction: column;
        margin: 18px;
    }
    .list{
        width: 70%;
    }
    .form-popup{
        flex-direction: column;
    }
    .quiz-container{
        flex-direction: column;
    }
  .text{
    flex-direction: column;
    margin-right: 60px;
  }
  .row{
    flex-direction: column;
    margin-left: 49px;}

}




